{% extends 'layout.html' %}

{% block content %}
<h1>Thermodynamics by FHNW</h1>
Die Grundlagen der Thermodynamik liefern die Basis zur quantitativen Beurteilung und Optimierung von energetischen
Prozessen. Dafür werden in diesem Modul nützliche Bilanzgleichungen erstellt, charakterisierende Begriffe definiert
(Wirkungsgrad, Entropie) und die Eigenschaften von wichtigen Stoffen beschrieben (Luft, Wasser, Kältemittel). Diese
Grundlagen werden von den Teilnehmern in vielen praktischen Rechenaufgaben angewendet.

{% endblock %}