{% extends 'layout.html' %}

{% block content %}
<h1>Technische Thermodynamik 1</h1>
<p>Die Grundlagen der Thermodynamik liefern die Basis zur quantitativen Beurteilung und Optimierung von energetischen
    Prozessen. Dafür werden in diesem Modul nützliche Bilanzgleichungen erstellt, charakterisierende Begriffe definiert
    (Wirkungsgrad, Entropie) und die Eigenschaften von wichtigen Stoffen beschrieben (Luft, Wasser, Kältemittel). Diese
    Grundlagen werden von den Teilnehmern in vielen praktischen Rechenaufgaben angewendet.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kcNhwaVFk5s" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}