{% extends 'layout.html' %}

{% block content %}
<h1>Dampfturbine</h1>
Dampf wird in einer gut isolierten, stationär laufenden Turbine von Zustand 1 (p = 2 MPa, T = 500 °C) auf Zustand 2
    (p = 10 kPa, x_Dampf = 0.95) entspannt. Die Änderungen in kinetischen und potentiellen Energien können vernachlässigt werden.

    <ol type="a">
    <!--- <ul style="list-style-type:lower-latin"> --->
        <li>Bestimmen Sie die spezifische Turbinenarbeit, Wdot_CV/mdot, in kJ/kg und die spezifische Entropieproduktionsrate, sigmadot_CV/mdot, in kJ/(kg K).</li>
        <li>Ist der beschreibene Prozess möglich? Erklären Sie Ihre Antwort.</li>
        <li>Zeichnen Sie den Prozess in einem T-s Diagramm</li>
        <li>Bestimmen Sie die spezifische Turbinenarbeit in kJ/kg, für den Fall, dass die Turbine den Dampf <em>reversibel</em> auf den gleichen Enddruck entspannt.</li>
        <li>Bestimmen Sie den isentropen Wirkungsgrad der Turbine, din in Teil a berechnet wurde.</li>
    <!--- </ul> --->
    </ol>

    <h2>Lösung</h2>
{% endblock %}